.redfooter {
	margin-top: 10rem;
    background-color: var(--juicyorange);
    color: white;
    padding: 0.2rem 2rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
    
   -moz-box-shadow:    inset 0 3px 3px #bf2718;
   -webkit-box-shadow: inset 0 3px 3px #bf2718;
   box-shadow:         inset 0 3px 3px #bf2718;
}

.undershadowed {
   -moz-box-shadow:    inset 0 3px 3px #d9d9d9;
   -webkit-box-shadow: inset 0 3px 3px #d9d9d9;
   box-shadow:         inset 0 3px 3px #d9d9d9;
}